

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* Full-screen sections */
.screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
    transition: opacity 1s ease, transform 1s ease;
}

.screen.active {
    opacity: 1;
    transform: translateY(0);
}
.screen-1 .title {
    color: #EB0028; /* TEDx red */
    text-align : left;
    font-family : Helvetica, Monospace;
}

.screen-2 .title {
    color: white;     /* NGHS white */
    text-align : left;
    font-family : Helvetica, Monospace;
    font-weight: lighter;
    white-space: normal;
max-width: 80vw;
}

.title {
     font-size: 18vw;      /* fills the screen */
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 5vw;
    margin: 0;
    line-height: 1;
}

/* Navbar fade-in */
.navbar {
    background: #111;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.navbar.visible {
    opacity: 1;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #EB0028;
}
